var DOMAIN_URL = 'http://localhost:5000'
var REDIRECT_URI = 'http://localhost:3000'
var COOKIE_DOMAIN = 'localhost'
var WX_GZ_APPID = 'wxe2e76dfd60ec74b1'
var WX_KF_APPID = 'wx9c88c3320f959b7c'
var IMG_FORMAT = ['png','jpg','gif','jpeg','psd']